* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

ul.player {
    display: flex;
    flex-flow: column;
}

ul.player>li {
    background-color: royalblue;
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

ul.rooms {
    background-color: saddlebrown;
    color: white;
}

.rooms>li {
    padding: 15px;
}

.rooms>li:hover {
    background-color: sandybrown;
}

.hide {
    display: none !important;
}

.close {
    border: 1px solid red;
}

.close:hover {
    background-color: sandybrown;
}
